canvas {
  background-color: #eee;
}

body {
  margin: 0;
  overflow: hidden;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.overlay-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.btn {
  border-radius: 50%;
  pointer-events: all;
  border: solid 1px rgba(50,50,50, .3);
  box-shadow: 3px 3px 10px 5px rgba(164, 164, 165, 0.4);
}

.setting-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  background-color: rgb(81, 94, 233);
  outline: none;
}

.clear-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 100px;
  height: 100px;
  background-color: rgba(200, 80, 80, .99);  
  outline: none;
}
